@page
@model Assignment_Group_Project_RazorPages.Pages.Feedbackpages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].FbContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Feedback) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FbContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User!.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FbId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.FbId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="align-middle">
    <ul class="pagination">
        @for (int b = 1; b <= Model.Count; b++)
        {
            <li class="page-item @(b == Model.Index ? "active" : "")">
                <a asp-page="./Index" asp-route-Index="@b" class="page-link">@b</a>
            </li>
        }
    </ul>
</div>
