@page
@model Assignment_Group_Project_RazorPages.Pages.RoomPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Rooms</h1>
@if(TempData["error"] != null)
{
    <h3 class="text-danger">@TempData["error"]</h3>
    TempData.Clear();
}
@if(TempData["success"] != null)
{
    <h3 class="text-success">@TempData["success"]</h3>
    TempData.Clear();
}
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].StatusRoom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Room) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusRoom!.StatusName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RoomId" class="btn btn-warning">Edit</a>
                <a asp-page="./ChangeStatus" asp-route-id="@item.RoomId" class="btn btn-danger">Change Status</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="align-middle">
    <ul class="pagination">
        @for (int b = 1; b <= Model.Count; b++)
        {
            <li class="page-item @(b == Model.Index ? "active" : "")">
                <a asp-page="./Index" asp-route-Index="@b" class="page-link">@b</a>
            </li>
        }
    </ul>
</div>
