@page
@model Assignment_Group_Project_RazorPages.Pages.UserPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData["Success"] != null)
{
    <div class="text-success">
        <h3 class="text-success">@TempData["success"]</h3>
    </div>
    TempData.Clear();
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListUser[0].Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListUser[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListUser[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListUser[0].DoB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListUser[0].Role)
            </th>
            <th>
                Status
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListUser != null)
        {
            @foreach (var item in Model.ListUser)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusUser!.StatusName)
                    </td>
                    <td>
                        @if (item.Role != null && !item.Role.Equals("Admin")) {
                            <a asp-page="./ChangeRole" asp-route-id="@item.UserId" class="btn btn-warning">Change Role</a><span> </span>
                        }
                        @if(item.Role != null && (item.Role.Equals("Customer") || item.Role.Equals("Staff")))
                        {
                            <a asp-page="./Ban" asp-route-id="@item.UserId" class="btn btn-danger">Ban/Unban</a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            @if (TempData["error"] != null)
            {
                <div class="text-danger">
                    <h3 class="text-danger">@TempData["error"]</h3>
                </div>
                TempData.Clear();
            }
        }
    </tbody>
</table>
<div class="align-middle">
    <ul class="pagination">
        @for (int b = 1; b <= Model.Count; b++)
        {
            <li class="page-item @(b == Model.Index ? "active" : "")">
                <a asp-page="./Index" asp-route-Index="@b" class="page-link">@b</a>
            </li>
        }
    </ul>
</div>